LogAn/Service References/ServiceReference1/TimeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TimeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4160/TimeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4160/TimeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4160/TimeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LogAnWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITimeService_GetTime_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTime" />
  </wsdl:message>
  <wsdl:message name="ITimeService_GetTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeResponse" />
  </wsdl:message>
  <wsdl:message name="ITimeService_GetAllTime_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTime" />
  </wsdl:message>
  <wsdl:message name="ITimeService_GetAllTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTimeResponse" />
  </wsdl:message>
  <wsdl:portType name="ITimeService">
    <wsdl:operation name="GetTime">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimeService/GetTime" message="tns:ITimeService_GetTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimeService/GetTimeResponse" message="tns:ITimeService_GetTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTime">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimeService/GetAllTime" message="tns:ITimeService_GetAllTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimeService/GetAllTimeResponse" message="tns:ITimeService_GetAllTime_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITimeService" type="tns:ITimeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTime">
      <soap:operation soapAction="http://tempuri.org/ITimeService/GetTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTime">
      <soap:operation soapAction="http://tempuri.org/ITimeService/GetAllTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TimeService">
    <wsdl:port name="BasicHttpBinding_ITimeService" binding="tns:BasicHttpBinding_ITimeService">
      <soap:address location="http://localhost:4160/TimeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>