LogAn/Service References/ServiceReference1/TimeService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LogAnWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LogAnWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GlobalDateTime">
    <xs:sequence>
      <xs:element minOccurs="0" name="AmericanTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ChineseTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GlobalDateTime" nillable="true" type="tns:GlobalDateTime" />
</xs:schema>